/* Global styles */
body {
	background-image: url('/images/bgPattern.png');
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	color: #575757;
}

#content {
	margin: 0 auto;
	width: 926px;
}

#home {
	Float: left;
	margin-top: 0.5em;
	margin-left: 2em;
}

#signin {
	Float: right;
	margin-top: 9em;
}

#data a {
	padding-right: 2.7em;
	padding-left: 2.7em;
	Float: right;
	margin-top: 3.0em;
}

#users a {
	padding-right: 2.5em;
	padding-left: 2.5em;
	Float: right;
	margin-top: 0.5em;
}

#logout {
	Float: right;
	margin-top: 1.0em;
}

#submit {
	Float: left;
	margin-top: 1em;
}

.nav a {
	color: white;
	text-align: center;
	padding-right: 2em;
	padding-left: 2em;
	padding-top: 0.5em;
	padding-bottom: .5em;
	background-color: #575757;
	text-decoration: none;
}

.nav a:hover {
	background-color: #4299CF;
}

#footer {
	Float: right;
	margin-top: 1em;
	color: #575757;
}

.section {
	padding-top: 11em;
}

#main {
}

